{% extends "base/base.html" %}

{% block title %}
    All Products
{% endblock title %}    

{% block content %}
    <div class="product-view" style="margin-top:120px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-14">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-search">
                                    <form action="{% url 'mainpage:search' %}">
                                        <input type="Text" Placeholder="Search" name='searchword' AUTOCOMPLETE="OFF">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle one" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                            {% for category in categories %}
                                                <a href="{%url 'mainpage:product_filter' filtername=category.id%}" class="dropdown-item">{{category.category_name}}</a>
                                            {% endfor %}
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="{%url 'mainpage:product_filter' filtername='lowest' %}" class="dropdown-item">Lowest Price-Highest</a>
                                                <a href="{% url 'mainpage:product_filter' filtername='highest' %}" class="dropdown-item">Highest Price-Lowest</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
                        <div class="col-lg-2 col-md-6 col-12">
    <!-- Start Single Product -->
    <div class="single-product">
        <div class="product-image">
            <img src="{{MEDIA_URL}}{{product.product_image}}" style="height:50vh;"alt="#">
            <div class="button">
                <a href="" value={{product.id}} class="btn add-cart"><i class="lni lni-cart"></i> Add to Cart</a>
            </div>
        </div>
        <div class="product-info">
            <span class="category">{{product.category}}</span>
            <h4 class="title">
                <a href="{% url 'mainpage:single' slug=product.product_slug %}">{{product.product_name}}</a>
            </h4>
            <ul class="review">
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><i class="lni lni-star-filled"></i></li>
                <li><span>5.0 Review(s)</span></li>
            </ul>
            <div class="price">
                <span>KES {{product.product_price}}</span>
            </div>
        </div>
    </div>
    <!-- End Single Product -->
</div>
                    {% endfor %}                    
                </div>
                
                <!-- Pagination Start -->
                {%if products.has_other_pages%}

                <div class="col-md-12" style="margin-top: 20px;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            
                            {% if products.has_previous %}
                                <li class="page-item ">
                            <a class="page-link" href="?page={{products.previous_page_number}}" tabindex="-1">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="" tabindex="-1">Previous</a>
                            </li>
                            {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>        
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li class="page-item">
                                <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                            </li>    
                                {% else %}
                                <li class="page-item disabled" >
                                <a class="page-link" href="">Next</a>
                            </li>
                                {% endif %}
                            
                        </ul>
                    </nav>
                </div>
                {%endif%}
                <!-- Pagination Start -->
            </div>           
            
            <!-- Side Bar Start -->
            
            <!-- Side Bar End -->
        </div>
    </div>
</div>
{% endblock content %}  