{% extends "base/base.html" %}
{% load static%}
{%block title%}Home{%endblock%}
{% block content %}


<div class="main_slider" style="background-image:url({% static 'project-290-P9xpYfUpoZI-unsplash.jpg' %});">
<div class="container fill_hight">
    <div class="row align-items-center fill_hight">
        <div class="col">
            <div class="main_slider_content">
                <h6>Spring/summer collections</h6>
                <h1>Get upto 30%of on new arrivals</h1>
                <div class="red_button shop_now_button"><a href="">Shop now</a></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="new_arrivals">
    <h2>new arrivals</h2>
</div>
        <!-- Banner -->
    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            {% for newproduct in new_products %}
                            
                            
                            <div class="single-slider"
                                style="background-image: url({{MEDIA_URL}}{{newproduct.product_image}});">
                                <div class="content">
                                    <h2><span>No restocking fee </span>
                                        {{newproduct.product_name}}
                                    </h2>
                                    <p style="color:white;text-transform:capitalize;s">{{newproduct.product_description}}</p>
                                    <h3><span>Now Only</span> Ksh {{newproduct.product_price}}</h3>
                                    <div class="button">
                                        <a href="{%url 'mainpage:single' slug=newproduct.product_slug %}" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            
                            
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="background-image: url({% static 'andre-hunter-RPKdvPcYAUo-unsplash.jpg' %});">
                                <div class="content">
                                    <h2>
                                        <span>New line required</span>
                                        iPhone 12 Pro Max
                                    </h2>
                                    <h3>ksh 1259.99</h3>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Weekly Sale!</h2>
                                    <p>Saving up to 50% off all online store items this week.</p>
                                    <div class="button">
                                        <a class="btn" href="product-grids.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- New Arrivals -->
        <section class ="feature-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center feature-title">
                        <h2>FEATURED PRODUCTS</h2>
                        <a class="feature-active" href="#">BEST SELLER</a> | <a href="#">NEW ARRIVAL</a> | <a href="#">MOST WANTED</a> 
                    </div>

                </div>
            </div>           
            </section>
  <!-- Card -->
  <div class="container">
    <div class="row" >
    {% for product in products%}
    <div class="col-lg-3 col-md-6 col-12" >
            <!-- Start Single Product -->
            <div class="single-product">
                <div class="product-image">
                    <img src="{{MEDIA_URL}}{{product.product_image}}" style="height:350px;" alt="#">
                    <div class="button">
                        <a href=""  id="{{product.id}}" value="{{product.id}}" class="btn add-cart"><i class="lni lni-cart"></i> Add to Cart</a>
                    </div>
                </div>
                <div class="product-info">
                    <span class="category">{{product.category}}</span>
                    <h4 class="title">
                        <a href="{% url 'mainpage:single' slug=product.product_slug %}">{{product.product_name}}</a>
                    </h4>
                    <ul class="review">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><span>5.0 Review(s)</span></li>
                    </ul>
                    <div class="price">
                        <span>KES {{product.product_price}} </span>
                    </div>
                </div>
            </div>
            <!-- End Single Product -->
        </div>
    {%endfor%}
        
        
        
        
        
        
        
    </div>
</div>
    <div class="more_div">
        <a href="{%url 'mainpage:allproducts' %}" class="more">More Products</a>
    </div>
    


        <!-- Deal of the week -->

        <div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

        <!-- Benefit -->

        <section class="shipping-info">
            <div class="container">
                <ul>
                    <!-- Free Shipping -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-delivery"></i>
                        </div>
                        <div class="media-body">
                            <h5>Free Shipping</h5>
                            <span>On orders Ksh 5000</span>
                        </div>
                    </li>
                    <!-- Money Return -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-support"></i>
                        </div>
                        <div class="media-body">
                            <h5>24/7 Support.</h5>
                            <span>Live Chat Or Call.</span>
                        </div>
                    </li>
                    <!-- Support 24/7 -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-credit-cards"></i>
                        </div>
                        <div class="media-body">
                            <h5>Online Payment.</h5>
                            <span>Secure Payment.  </span>
                        </div>
                    </li>
                    <!-- Safe Payment -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-reload"></i>
                        </div>
                        <div class="media-body">
                            <h5>Easy Return.</h5>
                            <span>Hassle Free Shopping.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <script>
        
            $(document).on('click','.add-cart',function(e){
               
                e.preventDefault();
                
                $.ajax({
                    type:'POST',
                    url: '{% url "basket:basket_add" %}',
                    data:{
                        productid:$(this).attr('value'),
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action:'post'
                    
                },
                success:function(json){
                    $("#checkout_items").text(json.test)
                    
                },
                error: function(xhr,errmsg,err){}
            });  
                             
            })
        </script>
{% endblock  %}    