{% extends "base/base.html" %}
 
    <!-- Preloader -->   <!-- /End Preloader -->

    <!-- Start Header Area -->
  
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->

    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    {% block title %}
        {{product.product_name}}
    {% endblock title %}
    {% block content %}
    {% for product in products %}
    <section class="item-details section" style="margin-top:120px;margin-bottom:80px;">
        <div class="container" >
            <div class="top-area" >
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img src="{{MEDIA_URL}}{{product.product_image}}" id="current" alt="#">
                                </div>
                                <div class="images">
                                    <img src="{{MEDIA_URL}}{{product.product_image}}" class="img" alt="#">
                                    <img src="{{MEDIA_URL}}{{product.product_image}}" class="img" alt="#">
                                    <img src="{{MEDIA_URL}}{{product.product_image}}" class="img" alt="#">
                                    <img src="{{MEDIA_URL}}{{product.product_image}}" class="img" alt="#">
                                    
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">

        

                            <h2 class="title">{{product.product_name}}</h2>
                            <p class="category"><i class="lni lni-tag"></i> {{product.category}}<a href="javascript:void(0)">{{product.category.categoty_type}}</a></p>
                            <h3 class="price">KES {{product.product_price}}<span>KES {{product.product_price}}</span></h3>
                            <p class="info-text">{{product.product_description}}</p>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group color-option">
                                        <label class="title-label" for="size">Choose color</label>
                                        <div class="single-checkbox checkbox-style-1">
                                            <input type="checkbox" id="checkbox-1" checked>
                                            <label for="checkbox-1"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-2">
                                            <input type="checkbox" id="checkbox-2">
                                            <label for="checkbox-2"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-3">
                                            <input type="checkbox" id="checkbox-3">
                                            <label for="checkbox-3"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                            <input type="checkbox" id="checkbox-4">
                                            <label for="checkbox-4"><span></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="color">Size</label>
                                        
                                        <select class="form-control" id="color">
                                
                                            <option>{{product.product_size}}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group quantity">
                                        <label for="color">Quantity</label>
                                        <select class="form-control">
                                            
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <button value="{{product.id}}" class="btn add-cart" style="width: 100%;">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                
                                <h4>Shipping Options:</h4>
                                <ul class="normal-list">
                                    <li><span>Courier:</span> 2 - 4 days, $22.50</li>
                                    <li><span>Local Shipping:</span> up to one week, $10.00</li>
                                    <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                    <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- Review Modal -->
    

    <!-- End Review Modal -->


    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->

    <!-- ========================= JS here ========================= -->

    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
    {% endfor %}
    {% endblock content %}

